<ion-header>

  <ion-navbar>
    <ion-title>Short Job First</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid >
    <ion-row>
      <ion-col class="col-processors" col-3  *ngFor="let p of processors" (click) = "showAlert(k.name)">
        <label >{{p}}</label>
        <div class="processor-square">
            
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list class="processes-list">
    <ion-grid>
      <ion-row  *ngFor="let p of process" class="item-processo">
        <ion-col col-3>
          {{p.id}}
        </ion-col>
        <ion-col col-3>
          {{p.total}}
        </ion-col>
        <ion-col col-3>
          {{p.left}}
        </ion-col>
        <ion-col col-3>
          {{p.state}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
