page-rr {

    .grid {
        padding: 0px;
    }
    
    .processor-square{
        text-align: center;
        border: solid;
        border-color: black;
        border-radius: 8px;
    }

    .blocks-square{
        text-align: center;
        border: solid;
        border-color: gray;
        border-radius: 8px;
    }

    .processes-list{
        ion-col{
            font-size: 80%;
            text-align: center;
        }
    }
    
    .item-aptos,
    .item-finalizados{
        text-align: center;
        font-size: 90%;
    }

    .nomes-coluna{
        font-weight: bold;
    }
}
