page-ltg {
    .processor-square{
        text-align: center;
        border: solid;
        border-color: black;
        border-radius: 8px;
    }

    .item{
        text-align: center;
        font-size: 90%;
    }

    .nomes-coluna{
        font-weight: bold;
    }
}
