<ion-header>

  <ion-navbar>
    <ion-title>Escalonador</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding no-bounce>
  <form (ngSubmit)="pushPage()" >
    <ion-list>
        <ion-item>
          <ion-label  class="esc-label">Número de processadores: </ion-label>
          <ion-input type="tel" #Np name="processors" placeholder="1 - 64" maxlength="2" [(ngModel)]="data.y"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label  class="esc-label">Número de processos iniciais: </ion-label>
            <ion-input type="tel" #Pi name="processes"  maxlength="3" [(ngModel)]="data.z"></ion-input>
          </ion-item>
        <ion-item>
            <ion-label>Escalonador: </ion-label>
            <ion-select #Se class="esc-select" name="escalonador" interface="popover" [(ngModel)]="data.x" (ionChange)="onChange(Se.value)">
                <ion-option value="sjf">Shortest Job First</ion-option>
                <ion-option value="rr">Round Robin</ion-option>
                <ion-option value="ltg">Least Time to Go</ion-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="visability">
            <ion-label  class="esc-label">Gerenciador de memória: </ion-label>
            <ion-select #Sg class="esc-select" name="gerenciador" interface="popover" [(ngModel)]="data.m">
              <ion-option value="bf">Best Fit</ion-option>
              <ion-option value="mf">Merge Fit</ion-option>
          </ion-select>
          </ion-item>
          <ion-item *ngIf="visability">
            <ion-label  class="esc-label">Quantum: </ion-label>
            <ion-input type="tel" #Qt name="quantum" placeholder="2 - 20" maxlength="2" [(ngModel)]="data.w"></ion-input>
          </ion-item>
          <ion-item *ngIf="visability">
            <ion-label  class="esc-label">Memória total: </ion-label>
            <ion-input type="tel" #Tm name="totalMemory" [(ngModel)]="data.t"></ion-input>
          </ion-item>
      </ion-list>
    
      <button ion-button block type="submit">Iniciar</button>
  </form>
</ion-content>
