page-escalonador {
    .esc-select {
      max-width: 60%;
    }

    .text-input-md{
      text-align: right;
    }

    .esc-label{
      max-width: 215px;
    }
    .item-input,
    .item-select{
      .label-md,{
        color: black;
      }
    }

}
